.vscode/**
.vscode-test/**
src/**
.gitignore
.eslintrc.json
tsconfig.json
node_modules/**
**/*.map
**/*.ts
**/*.d.ts
out/test/**
.github/**
images/colored-title-bar-banner-horizontal.png
images/colored-title-bar-banner-askew.png
images/colored-title-bar-banner-askew-short.png
images/colored-title-bar-logo.png
